.mastodon-poll {
}

.mastodon-poll-option {
   display: flex;
   align-items: center;
   gap: 0.5em;
   margin: 0 var(--ledit-margin);
}

.mastodon-poll-summary {
   margin-top: var(--ledit-margin);
   font-size: var(--ledit-font-size-small);
   color: var(--ledit-color-dim);
   margin: 0 var(--ledit-margin);
}

.mastodon-prelude {
   display: block;
   color: var(--ledit-color-dim);
   margin-bottom: var(--ledit-padding);
}

.mastodon-user-profile-header {
   margin: -1em;
   max-width: calc(100% + var(--ledit-margin) * 2);
}

.mastodon-emoji-container {
   display: inline-flex;
   align-items: center; /* Vertical alignment */
   gap: 0.25em;
}

.mastodon-emoji {
   height: 1em;
   width: 1em;
   vertical-align: text-top;
}

.mastodon-account, .mastodon-notification {
   display: flex;
   flex-direction: column;
   gap: var(--ledit-padding);
   padding: var(--ledit-margin);
   background: var(--ledit-background);
   border-radius: 8px;
   border: 1px solid var(--ledit-border-color);
   box-shadow: 0px 1px 3px var(--ledit-shadow-color);
   overflow-wrap: break-word;
}

.mastodon-notification-header {
   display: inline-flex;
   align-items: center;
   gap: 0.25em;
}

.mastodon-notification-text {
   color: var(--ledit-color-dim) !important;
}

.mastodon-notification-text > :last-child {
   margin-bottom: 0 !important;
}

.mastodon-notification-text * {
   color: var(--ledit-color-dim) !important;
   margin: var(--ledit-padding) 0;
}