.comments {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ledit-padding));
  width: 100%;
}

.comments > .comment {
  background: var(--ledit-background-dim);
  border-radius: 8px;
  margin: 0;
  padding: var(--ledit-margin);
  border: 1px solid var(--ledit-border-color);
}

.comments:last-child {
  margin-bottom: var(--ledit-margin);
}

.comment {
  display: block;
  padding-left: var(--ledit-padding);
  margin-left: var(--ledit-padding);
  margin-top: var(--ledit-padding);
}

.comment a {
  overflow-wrap: anywhere;
}

.comment img {
  max-width: 100%;
  height: auto;
}

.comment-meta {
  color: var(--ledit-color-dim);
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.comment-text {
  cursor: pointer;
  overflow-wrap: break-word;
}

.comment-author-op > a {
  color: var(--ledit-link-color) !important;
  font-weight: 800;
}

.comment-author > a {
  font-weight: 800;
  color: var(--ledit-color);
}

.comment-text > .md p:last-child {
  margin-block-end: 0;
}

.comment-reply {
  padding-top: var(--ledit-padding);
}

.comment-replies {
}

.comment-replies-count {
  padding-top: 0.5em;
  color: var(--ledit-color-dim);
  font-size: 0.8em;
  cursor: pointer;
}
