.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 0.5em;
   margin: calc(var(--ledit-margin) * -1);
   margin-bottom: 0;
   margin-top: 0;
   width: calc(100% + var(--ledit-margin) * 2);
}

.content video-js {
   cursor: pointer !important;
}

.content-video-container {
   display: flex;
   justify-content: center;
   background: #000;
   width: 100%;
   cursor: pointer !important;
}

.content-text {
   padding: 0 var(--ledit-margin);
}

.content-text :last-child {
   margin-bottom: 0 !important;
}

.content-image-gallery > img {
   cursor: pointer;
}

.content-image-gallery > img, .content > img {
   width: 100%;
   max-height: 75vh;
   object-fit: contain;
}
