.content {
   margin: calc(var(--ledit-padding) * -2);
   display: block;
   margin-bottom: 0;
   margin-top: 0;
}

.content > video-js {
   cursor: pointer;
}

.content-image-gallery > img {
   cursor: pointer;
}

.content-image-gallery > img, .content > img {
   width: 100%;
   max-height: 75vh;
   object-fit: contain;
}

