@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font-size: 15px;
   --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
   --font-family-code: Menlo, monospace;
   --line-height: 1.5rem;
}

/** New colors need to be added to tailwind.config.json **/
html[data-theme="dark"] {
   --background: 17, 17, 17;
   --color: 250, 250, 250;
   --border: 55, 55, 55;
   --primary: 204, 125, 36;
   --surface: 17, 17, 17;
   --surface-dim: 39, 39, 39;
}

html[data-theme="light"] {
   --background: 255, 255, 255;
   --color: 75, 85, 99;
   --border: 180, 180, 180;
   --primary: 204, 125, 36;
   --surface: 255, 255, 255;
   --surface-dim: 230, 230, 230;
}

html,
body {
   font-size: var(--font-size);
   font-family: var(--font-family);
   line-height: var(--line-height);
   color: rgb(var(--color));
   background-color: rgb(var(--background));
   -webkit-tap-highlight-color: transparent;
}

@layer base {
   a {
      text-decoration: none;
      color: rgb(var(--primary));
   }

   p {
      @apply my-2;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply block;
   }

   h1 {
      @apply text-3xl;
   }

   h2 {
      @apply text-2xl;
   }

   h3 {
      @apply text-xl;
   }

   h4 {
      @apply text-lg;
   }

   h5,
   h6 {
      @apply text-base;
   }

   input, textarea {
      @apply bg-transparent outline-primary border border-solid border-color focus:border-primary focus:outline p-2 rounded;
   }

   button {
      @apply border px-4 py-2 border-solid border-primary text-center text-primary rounded hover:bg-primary hover:text-color;
   }

   pre {
      overflow: auto;
      white-space: pre-wrap;
      overflow-wrap: anywhere;
   }

   code {
      font-family: var(--font-family-code);
      font-size: 0.8em;
      line-height: 1em;
   }
}

@layer utilities {
   .force-hidden {
      display: none !important;
   }
}

@layer animation {
   .nc-int-icon-slide-up {
      --animation-duration: 0.3s;
   }
   .nc-int-icon {
      position: relative;
   }
   .nc-int-icon-b {
      position: absolute;
      top: calc(50% - 0.5em);
      left: calc(50% - 0.5em);
      opacity: 0;
   }
   .nc-int-icon-slide-up {
      overflow: hidden;
   }
   .nc-int-icon-slide-up .nc-int-icon-a,
   .nc-int-icon-slide-up .nc-int-icon-b {
      transition: opacity var(--animation-duration), transform var(--animation-duration);
   }
   .nc-int-icon-slide-up .nc-int-icon-b {
      transform: translateY(100%);
   }
   .nc-int-icon-state-b .nc-int-icon-a {
      opacity: 0;
   }
   .nc-int-icon-state-b .nc-int-icon-b {
      opacity: 1;
   }
   .nc-int-icon-slide-up.nc-int-icon-state-b .nc-int-icon-a {
      transform: translateY(-100%);
   }
   .nc-int-icon-slide-up.nc-int-icon-state-b .nc-int-icon-b {
      transform: translateY(0%);
   }
}

@layer icon {
   i.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      @apply w-[1em] h-[1em] border-white fill-primary;
      cursor: pointer;
   }

   i.icon > svg {
      @apply w-full h-full;
   }
}

@layer components {
   .rss-content-image {
      flex: 0 0 auto;
      object-fit: contain;
      margin-right: var(--ledit-margin);
      margin-bottom: var(--ledit-margin);
   }

   .rss-content video {
      height: auto !important;
      border-radius: 8px;
   }

   .rss-content img {
      @apply rounded;
      width: auto;
      max-height: 40vh;
      margin: auto;
   }

   .rss-content figcaption {
      text-align: center;
   }

   .rss-content svg {
      width: 1em;
      height: 1em;
   }

   .rss-content h1,
   .rss-content h2,
   .rss-content h3,
   .rss-content h4,
   .rss-content h5,
   .rss-content h6 {
      font-size: 1em;
   }

   .rss-channel-image {
      max-height: calc(1.5 * var(--ledit-font-size));
   }
}

@layer components {
   .youtube-post .content {
      @apply w-full mt-4 aspect-video px-0 sm:px-4;
   }
}

@layer components {
   .post.reddit-post {
      @apply pb-3;
   }

   .reddit-post h1,
   .reddit-post h2,
   .reddit-post h3,
   .reddit-post h4,
   .reddit-post h5,
   .reddit-post h6 {
      font-size: 1em;
   }

   .reddit-comment h1,
   .reddit-comment h2,
   .reddit-comment h3,
   .reddit-comment h4,
   .reddit-comment h5,
   .reddit-comment h6 {
      font-size: 1em;
   }

   .reddit-post .content {
      @apply w-full px-0 sm:px-4;
   }

   .reddit-post .content img {
      @apply px-0 sm:rounded;
      align-self: start;
      margin: 0 auto;
      max-width: 100%;
      max-height: 75vh;
      object-fit: contain;
   }
}

@layer components {
   .header {
      @apply w-full sm:max-w-[640px] mx-auto sticky top-0 text-lg flex items-center gap-2 p-2 bg-background backdrop-blur-[8px] border-b border-border/50 z-[1];
   }

   .header select {
      background: none;
      color: rgb(var(--primary));
      border: none;
      appearance: none;
      padding: 0;
      text-align: right;
      cursor: pointer;
      outline-style: none;
   }

   main {
      @apply w-full sm:max-w-[640px] mx-auto;
   }

   .overlay {
      @apply w-full sm:max-w-[640px] mx-auto;
   }

   .post {
      @apply w-full mx-auto flex flex-col;
   }

   .post :first-child {
      @apply mt-0;
   }

   .post :last-child {
      @apply mb-0;
   }

   .post > * {
      @apply px-4;
   }

   main > .post {
      @apply py-4 bg-surface border-b border-border/30;
   }

   .comments > .post {
      @apply mt-4 pb-0 px-0;
   }

   .comments > .info {
      @apply border-b border-border/50;
   }

   .comments > div > .comment {
      @apply p-4 border-b border-border/50;
   }

   .comment {
      @apply cursor-pointer;
      min-width: 200px;
   }

   .comment .content p:first-child {
      margin-top: 0 !important;
      padding-top: 0 !important;
   }

   .comment .content p:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
   }

   .comment-buttons {
      @apply flex items-center gap-2;
   }

   .replies {
      @apply ml-2;
   }

   .reply {
      @apply pl-4 py-2 border-dotted border-l border-border;
   }

   .reply:last-child {
      @apply pb-0;
   }

   .content {
      display: flex;
      flex-direction: column;
      cursor: pointer;
   }

   .content * {
      max-width: 100%;
      overflow-wrap: anywhere;
   }

   .content p:first-child {
      @apply mt-0;
   }

   .content p:last-child {
      @apply pb-0 mb-0;
   }

   .content a::after {
      @apply w-4 h-4 ml-1 fill-primary;
      display: inline-block;
      content: "";
      -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z'></path></svg>")
         no-repeat 50% 50%;
      mask: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z'></path></svg>")
         no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: rgb(var(--primary));
   }
}
