.mastodon-poll-option {
   display: flex;
   align-items: center;
   gap: 0.5em;
}

.mastodon-poll-summary {
   margin-top: var(--ledit-margin);
   font-size: var(--ledit-font-size-small);
   color: var(--ledit-color-dim);
}

.mastodon-prelude {
   display: block;
   color: var(--ledit-color-dim);
   margin-bottom: var(--ledit-padding);
}