.mastodon-poll {
}

.mastodon-poll-option {
   display: flex;
   align-items: center;
   gap: 0.5em;
   margin: 0 var(--ledit-margin);
}

.mastodon-poll-summary {
   margin-top: var(--ledit-margin);
   font-size: var(--ledit-font-size-small);
   color: var(--ledit-color-dim);
   margin: 0 var(--ledit-margin);
}

.mastodon-prelude {
   display: block;
   color: var(--ledit-color-dim);
   margin-bottom: var(--ledit-padding);
}

.mastodon-user-profile-relationship-status > * {
   padding: calc(var(--ledit-padding) * 0.5);
   border-radius: 4px;
   background: var(--ledit-background);
   font-size: var(--ledit-font-size-small);
}

.mastodon-user-profile-header {
   margin: -1em;
   max-width: calc(100% + var(--ledit-margin) * 2);
}

.mastodon-user-profile-stats, .mastodon-notification-types {
   display: flex;
   gap: 1em;

}

.mastodon-user-profile-stats > *, .mastodon-notification-types > * {
   color: var(--ledit-color);
   display: flex;
   justify-content: center;
   gap: 0.25em;
   cursor: pointer;
   padding: var(--ledit-padding);
   border-radius: 8px;
   border: 1px solid var(--ledit-border-color);
   min-width: 3em;
}

.mastodon-user-profile-stats .selected, .mastodon-notification-types .selected {
   background: var(--ledit-background);
}

.mastodon-user-profile-stats > :hover, .mastodon-notification-types > :hover {
   border: 1px solid var(--ledit-accent-color);
}

.mastodon-emoji-container {
   display: flex;
   align-items: center; /* Vertical alignment */
   gap: 0.25em;
}

.mastodon-emoji {
   height: 1em;
   width: 1em;
   vertical-align: text-top;
}

.mastodon-account, .mastodon-notification {
   display: flex;
   flex-direction: column;
   gap: var(--ledit-padding);
   padding: var(--ledit-margin);
   background: var(--ledit-background);
   border-radius: 8px;
   border: 1px solid var(--ledit-border-color);
   box-shadow: 0px 1px 3px var(--ledit-shadow-color);
   overflow-wrap: break-word;
}