.media {
}

.media > img {
   width: 100%;
   max-height: 60vh;
   object-fit: contain;
   border-radius: 5px;
}

.media > video-js {
   border-radius: 5px;
}

.media-image-gallery {
}

.media-image-gallery > img {
   width: 100%;
   max-height: 60vh;
   object-fit: contain;
   border-radius: 5px;
}
