:root {
  --ledit-font-size: 16px;
  --ledit-font-size-big: calc(var(--ledit-font-size) * 1.25);
  --ledit-font-size-small: calc(var(--ledit-font-size) * 0.75);
  --ledit-font-family: "Noto Sans JP", "helvetica neue", helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --ledit-padding: calc(var(--ledit-font-size) * 0.5);
  --ledit-margin: var(--ledit-font-size);
  --ledit-code-font-family: Menlo, monospace;
}

.dark-theme {
  --ledit-background: #121b25;
  --ledit-header-border: #0b1117;
  --ledit-color: rgb(215, 215, 199);
  --ledit-color-dim: rgb(130, 130, 123);
  --ledit-border-color: rgba(255, 255, 255, 0.3);
  --ledit-link-color: #8db5e1;
  --ledit-code-background: #111;
}

.light-theme {
  --ledit-background: white;
  --ledit-header-border: #ccc;
  --ledit-color: #111;
  --ledit-color-dim: #777;
  --ledit-border-color: #111;
  --ledit-link-color: #1377e3;
  --ledit-code-background: #cccccc;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: var(--ledit-font-family);
  color: var(--ledit-color);
  background: var(--ledit-background);
  font-size: var(--ledit-font-size);
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: var(--ledit-link-color);
}

a:hover {
  text-decoration: underline;
}

iframe {
  border: none;
  overflow: hidden;
}

p {
  margin-top: 0;
}

pre {
  background: var(--ledit-code-background);
  width: 100%;
  overflow: auto;
}

code {
  font-family: var(--ledit-code-font-family);
  font-size: var(--ledit-font-size-small);
}

blockquote {
  border-left: 1px solid var(--ledit-color-dim);
  font-style: italic;
  padding: var(--ledit-padding);
  margin-left: var(--ledit-padding);
}

.hidden {
  display: none !important;
}

.main {
  margin: auto;
}

.header {
  height: 2rem;
  background: var(--ledit-background);
  padding: var(--ledit-padding) 0;
  font-size: var(--ledit-font-size-big);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid var(--ledit-header-border);
}

#header-container {
  width: 600px;
  height: 100%;
  margin: auto;
  padding: 0 var(--ledit-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-subreddit {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  cursor: pointer;
}

.header input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--ledit-color);
  font: inherit;
  color: inherit;
  line-height: inherit;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

#posts {
  width: 600px;
  margin: auto;
  margin-top: calc(var(--ledit-font-size) * 3 + var(--ledit-font-size-big));
}

#posts .post:first-child {
  padding-top: 0;
}

.post {
  padding: calc(var(--ledit-padding) * 2);
  border-bottom: 0.5px solid var(--ledit-border-color);
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin: auto;
}

@media (max-width: 767px) {
  #posts,
  #header-container {
    width: 100%;
  }
}

.post-loading {
  text-align: center;
  margin: var(--ledit-margin);
}

.post-error {
  text-align: center;
  margin: var(--ledit-margin);
}

.post-title {
  font-size: var(--ledit-font-size-big);
}

.post-meta {
  color: var(--ledit-color-dim);
  font-size: var(--ledit-font-size-small);
  padding: calc(var(--ledit-padding) * 0.5) 0;
}

.post-self-preview {
  max-height: calc(var(--ledit-font-size) * 10);
  overflow: hidden;
  position: relative;
  color: var(--ledit-color-dim);
  cursor: pointer;
}

.post-self-preview::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(var(--ledit-padding) * 2); /* Adjust this value to control the height of the fade-out effect */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--ledit-background));
  pointer-events: none;
}

.post-url {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  font-size: var(--ledit-font-size-small);
  color: var(--ledit-color-dim);
  padding-bottom: calc(var(--ledit-padding) * 0.5);
}

.post-url a {
  color: var(--ledit-color-dim);
}

.post-points-comments {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.post-points {
  color: var(--ledit-color);
  font-weight: 800;
}

.post-author > a {
  font-weight: 800;
  color: var(--ledit-color);
}

.post-comments {
}

.post-comments-sticky {
  position: sticky;
  background: var(--ledit-background);
  padding-bottom: 0.5em;
  top: calc(var(--ledit-font-size) * 2 + var(--ledit-padding) * 2);
}

.post-media {
}

.post-media > img {
  width: 100%;
  border-radius: 5px;
}

.post-media > video {
  border-radius: 5px;
}

.post-image-gallery-count {
    cursor: pointer;
    color: var(--ledit-link-color);
}

.comment {
  padding-left: var(--ledit-padding);
  padding-top: calc(var(--ledit-padding) / 2);
  margin-bottom: var(--ledit-padding);
  margin-left: var(--ledit-padding);
  border-left: 1px dotted var(--ledit-border-color);
}

.post-comments-full > .comment {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
  border-bottom: 1px solid var(--ledit-border-color);
}

.comment a {
  overflow-wrap: anywhere;
}

.comment img {
  max-width: 100%;
  height: auto;
}

.comment-meta {
  color: var(--ledit-color-dim);
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.comment-text {
  cursor: pointer;
  overflow-wrap: break-word;
}

.comment-author > a {
  font-weight: 800;
  color: var(--ledit-color);
}

.comment-text > .md p:last-child {
  margin-block-end: 0;
}

.comment-reply {
  padding-top: 0.5em;
}

.comment-replies {
  padding-top: 0.5em;
}

.comment-replies-count {
  padding-top: 0.5em;
  color: var(--ledit-color-dim);
  margin-bottom: 0.5em;
  font-size: 0.8em;
}
