:root {
  --ledit-font-size: 16px;
  --ledit-font-size-big: calc(var(--ledit-font-size) * 1.2);
  --ledit-font-size-mid: calc(var(--ledit-font-size) * 1);
  --ledit-font-size-small: calc(var(--ledit-font-size) * 0.75);
  --ledit-font-family: "Noto Sans JP", "helvetica neue", helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --ledit-padding: calc(var(--ledit-font-size) * 0.5);
  --ledit-margin: var(--ledit-font-size);
  --ledit-code-font-family: Menlo, monospace;
}

.dark-theme {
  --ledit-background: #121b25;
  --ledit-background-dim: #0b1117;
  --ledit-background-buttons: ##52585f;
  --ledit-header-border: #0b1117;
  --ledit-color: rgb(215, 215, 199);
  --ledit-color-dim: rgb(130, 130, 123);
  --ledit-border-color: rgba(255, 255, 255, 0.3);
  --ledit-link-color: #8db5e1;
}

.light-theme {
  --ledit-background: #fcf8fc;
  --ledit-background-dim: #cccccc;
  --ledit-background-buttons: #cccccc57;
  --ledit-header-border: #0000003e;
  --ledit-color: #111;
  --ledit-color-dim: #777;
  --ledit-border-color: #efedf1;
  --ledit-link-color: #3a579b;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ledit-font-family);
  color: var(--ledit-color);
  background: var(--ledit-background-dim);
  font-size: var(--ledit-font-size);
}

a {
  text-decoration: none;
  color: var(--ledit-link-color);
}

p a {
  text-decoration: underline;
  overflow-wrap: anywhere;
}

iframe {
  border: none;
  overflow: hidden;
}

p {
  margin-top: 0;
}

pre {
  background: var(--ledit-background-dim);
  width: 100%;
  overflow: auto;
}

code {
  font-family: var(--ledit-code-font-family);
  font-size: var(--ledit-font-size-small);
}

blockquote {
  border-left: 0.5px solid var(--ledit-color-dim);
  font-style: italic;
  padding: var(--ledit-padding);
  margin-left: var(--ledit-padding);
}

.hidden {
  display: none !important;
}

.no-user-select {
  user-select: none;
}

.main {
  margin: auto;
}

.svg-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--ledit-font-size);
  padding-right: var(--ledit-padding);
  cursor: pointer;
}

@media (max-width: 767px) {
  .posts,
  .header,
  .settings {
    width: 100% !important;
  }
}